@font-face{
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.ttf') format('trueType');
}



div{
    font-family: 'Lato', Arial;
}
a{
    color: purple;
    text-decoration: none; 
}
/*Descendant*/
li span cite{
    color: darkorchid;
}
/*Groupe*/
h1, h2, h3{
    text-transform: uppercase;
}
h1{
    text-align: center;
}
h3{
    text-indent: 25px;
}


#content{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0,0,255,0.1);
}
.thumb{
    display: inline-block;
}
/*Element spécifique*/
ul.bandeau-portail{
    background-color: #ccc;
}

.mw-editsection a{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}
.mw-editsection-bracket, .mw-editsection-divider{
    font-size:0.6em;
    font-weight: normal;
    font-style: italic;
}
.mw-normal-catlinks{
    letter-spacing: 0.2em;
    line-height: 1.5em;
}