@font-face{
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.ttf') format('trueType');
}

div{
    font-family: 'Lato', Arial;
}
a{
    color: purple;
    text-decoration: none; 
}
#content{
    background-color: rgba(0,0,255,0.1);
}
.thumb{
    display: inline-block;
}
/*Element spécifique*/
ul.bandeau-portail{
    background-color: #ccc;
}
/*Descendant*/
li span cite{
    color: darkorchid;
}
/*Groupe*/
h1, h2, h3{
    text-transform: uppercase;
}